<!DOCTYPE html>
<html>
<head>
	<meta charset='UTF-8'>
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
	<header>
		<ul class='login'>
			<li><a href='{{ url_for('login') }}'>Login</a></li>
		</ul>
		<h1>Flaskio Messenger</h1>
		<ul class='top'>
			<li><a href='{{ url_for('send') }}'>Send</a></li>
			<li><a href='{{ url_for('manage') }}'>Manage</a></li>
			<li><a href='{{ url_for('logout') }}'>Logout</a></li>
		</ul>
	</header>
	<div class='flash'>{% with messages = get_flashed_messages() %}
			{% if messages %}
			  <ul class='flashes'>
			  {% for message in messages %}
			    <li>{{ message }}</li>
			  {% endfor %}
			  </ul>
			{% endif %}
		  {% endwith %}</div>
	{% block content %}{% endblock %}
</body>
</html>