{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/manage.css') }}">
 <div class='page'>
  <div class='forms'>
  <form class='add' action="{{ url_for('manage') }}" method='post' name='addcontact'>
  	{{ addForm.hidden_tag() }}
  	<div class='item'> {{ addForm.fname.label() }}</div>
  	<div class='item'> {{ addForm.fname() }} </div>
  	<div class='item'> {{ addForm.lname.label() }}</div>
  	<div class='item'> {{ addForm.lname() }} </div>
  	<div class='item'> {{ addForm.phnumber.label() }}</div>
  	<div class='item'> {{ addForm.phnumber() }} </div>
  	<div class='item'> {{ addForm.addSubmit(value='Add') }} </div>
  </form>
  <form class='remove' action="{{ url_for('manage') }}" method='post' name='removecontact'>
  	{{ remForm.hidden_tag() }}
  	<div class='item'> {{ remForm.pnumber.label() }}</div>
  	<div class='item'> {{ remForm.pnumber() }} </div>
  	<div class='item'> {{ remForm.remSubmit(value='Remove') }} </div>
  </form>
  </div>
 </div>
{% endblock %}