* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: #c1cdcd;
	height: 100%;
	width: 100%;
}

.page {
	background-color: #c1cdcd;
	text-align: center;
	width: 100%;
	height: 100%;
}

form {
	top: 40%;
	left: 35%;
	right: 40%;
	bottom: 40%;
	position: absolute;
	font-size: 20px;
	color: #000000;
}

input[type=text],
input[type=password] {
	width: 250px;
	height: 35px;
	border-radius: 5px;
	color: #000000;
	font-size: 20px;
	padding: 10px;
	border: none;
	background-color: #f7f7e3;
}

@media only screen and (max-width: 500px) {
	form {
		top: 0%;
		left: 0%;
   		right: 0%;
		bottom: 0%;
	}
	.page {
		margin: 0;
		padding: 0;
		border: 0;
	}

}

@media only screen and (max-width: 800px) {
	form {
		top: 20%;
		left: 20%;
		right: 20%;
		bottom: 20%;
	}
	.page {
		margin: 0;
		padding: 0;
		border: 0;
	}

}